body{
    background-color: #cdcbf1;
}

.container{
    background-color: #e9e8ff;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40px;
}

.menu{
    text-align: center
}

h2{
    font-family: Didact Gothic;
    font-weight: 500;
    font-size: 35px;
    color: #857fc6;
    padding: 20px;
    padding-top: 10px;
    background-color: #f4f4fc;
    border-radius: 10px;
    opacity: 100%;
}

input{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbfbff;
    border: 2px solid #857fc6;
    width: 200px;
    outline: none;
}

::placeholder{
    color: #857fc6; 
    font-family: Courier Prime;
}

select{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fbfbff;
    border: 2px solid #857fc6;
    width: 125px;
    outline: none;
    font-family: Courier Prime;
}

select:valid {
  color: #6b6bbd;
}

option{
    font-weight: bold;
    color: #857fc6;
}

button {
    margin-top: 30px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    background-color: #857fc6;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    justify-content: center;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-family: Didact Gothic;
    letter-spacing: 1px;
    font-weight: 500;

}

button:hover {
    background-color: #6f6ab0;
}

.calculadora{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.resultado{
    margin-top: 60px;
    background-color: #f1f0fd;
    padding:10px;
    border-radius: 30px;
}

#result{
    background-color: #fefeff;
    margin-right: 30px;
    margin-left: 30px;
}


.cinzel{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}